[tool.ruff]
line-length = 80
exclude = [
  ".git",
  "__pycache__",
  ".venv",
]
[tool.ruff.lint]
select = [
  "F",
  "E",
  "W",
  "I",
  "N",
  "D",
  "COM",
  "DTZ",
  "G",
  "T20",
  "Q",
  "RET",
  "ARG",
  "PL",
  "S",
]
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-0]+?))$"

[tool.ruff.lint.flake8-quotes]
inline-quotes = "double"
docstring-quotes = "double"

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["S"]

[tool.pytest.ini_options]
pythonpath = "."
